@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
}

.navigation {
    display: flex;
    width: 1060px;
    height: 65px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    width: 345px;
    list-style-type: none;
}

.navigation-user {
    max-width: 284px;
    margin-left: auto;
}

.navigation-link {
    display: block;
    padding: 20px 17px;
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color:#000000;
}

.navigation-link-current {
    display: flex;
    flex-wrap: wrap;
}

.navigation-link-current::after {
    width: 100%;
    box-sizing: border-box;
    content: "";
    height: 20px;
    border-bottom: 2px solid #756257;
    z-index: 1;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
    fill: #756257;
}
  
.navigation-link:focus .navigation-icon {
    fill: none;
}

.navigation-link:active .navigation-icon {
    fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:focus .navigation-item-counter {
    background: none;
}

.navigation-link:active .navigation-item-counter {
    color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
}

.navigation-logo {
    width: 139px;
    margin-right: 30px;
    z-index: 1;
}

.navigation-link.button {
    min-width: 160px;
    min-height: 37px;
    box-sizing: border-box;
    padding: 9px 15px 8px;
    margin: auto;
    margin-top: 14px;
    margin-left: 18px;
}

.navigation-link.button:hover {
    color: #ffffff;
    background-color: #615048;
}

.navigation-link.button:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.navigation-link.button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #615048;
}

.navigation-icon {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.navigation-item-counter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    background-image: url("../images/circle-green.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: 30px;
    left: 13px;
}

.button {
    background-color: #756257;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.page-container, .main-index {
    width: 1200px;
    margin: 0 auto;
}

.welcome-sedona-background {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 51px;
}

.divider {
    background-image: url(../images/divider.svg);
    height: 57px;  
    background-repeat: no-repeat;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 26px;
}

.sedona-description {
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin: 63px auto 31px;
}

.sedona-reasons {
    line-height: 36px;
    font-weight: 400;
    font-size: 22px;
    margin: 0 auto 80px;
}

.real-town, .devils-bridge {
    display: flex;
    height: 384px;
    justify-content: space-between;
    background-color: #83B3D3;
    color: #ffffff;
}

.real-town-text, .devils-bridge-text {
    width: 400px;
}

.advantages {
    text-align: center;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icon {
    margin: 89px auto 23px;
}

.advantages-title, .advantages-title-icon {
    margin: 0;
    margin-top: 97px;
    line-height: 28px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.advantages-title-icon {
    margin: 0 auto 20px;
}

.numbering-of-advantages {
    font-weight: 400;
    font-size: 18px;
    margin: 30px auto;
}

.advantages-description, .advantages-description-row, .advantages-description-icon {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0; 
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
}

.advantages-item-white-background {
    background-color: #ffffff;
}

.advantages-item-blue-background {
    background-color: rgba(131, 179, 211, 0.2);
}

.sedona-text {
    text-align: center;
    width: 720px;
    margin: 63px auto 80px;
    background-color: #ffffff;
}

.hotel-search, .mailing {
    text-align: center;
}

.mailing {
    background-color: #ffffff;
    color: #ffffff;
    background-color: black;
    padding: 94px 0;
}

.mailing-background {
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hotel-search-title {
    margin-top: 91px;
    margin-bottom: 29px; 
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.hotel-search-text {
    margin: 0 auto 56px;
}

.button-hotel-search {
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 36px;
    margin: 0 auto 93px;
    width: 575px;
    height: 60px;
    padding: 15px 0;
    color: #FFFFFF; 
}

.button-hotel-search:focus, .hotel-card-button:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.button-hotel-search:active, .hotel-card-button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #615048;
}

.button-hotel-search:hover, .hotel-card-button:hover {
    color: #ffffff;
    background-color: #615048;
}

.main-inner{
    padding-top: 0;
}


.inner-header-title {
    margin-top: 0;
    margin-bottom: 5px; 
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.header-and-filter {
    background-image: url("../images/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    background-color: black;
    padding-top: 35px;
    padding-bottom: 83px;
    padding-left: 72px;
}

.filter-buttons {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.apply-filter-button {
    background-color: #83B3D3;
    height: 48px;
    margin-bottom: 20px;
}

.apply-filter-button:hover {
    background-color: #68A2CA;
}

.apply-filter-button:focus {
    background-color: #68A2CA;
    outline: 3px solid #FFFFFF;
}

.apply-filter-button:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.control-input {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-right: 19px;
}

.cancel-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 4px;
}

.cancel-button:hover {
    opacity: 0.6;
}

.cancel-button:focus {
    outline: 3px solid #83B3D3;
}

.cancel-button:active {
    opacity: 0.3;
}

.breadcrumbs {
    color: #ffffff;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.breadcrumbs-item {
    margin-right: 10px;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
    position: relative;
    display: block;
    padding: 6px 8px 9px 8px;
    height: 12px;
    width: 12px;
}

.breadcrumbs-item:nth-child(3) .breadcrumbs-link {
    display: block;
    padding: 2px 8px 4px 8px;
}

.breadcrumbs-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link:hover, .breadcrumbs-item:nth-child(3) .breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link:focus, .breadcrumbs-item:nth-child(3) .breadcrumbs-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link:active, .breadcrumbs-item:nth-child(3) .breadcrumbs-link:active {
    opacity: 0.3;
}

.sorting-container {
    display: flex;
    height: 48px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 53px;
    align-items: center;
}

.sorting-container .button {
    width: 48px;
    height: 48px;
}

.catalog-filter{
    display: flex;
    margin-top: 45px;
    margin-right: 72px;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: 0;
}

.catalog-filter-group:nth-child(1) {
    margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
    margin-right: 216px;
}

.catalog-filter-group:nth-child(3) {
    margin-right: 20px;
    width: 287px;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 16px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0;
}

.catalog-accommodation {
    display: flex;
    flex-direction: column;
}

.control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}


.pagination-container {
    display: flex;
    padding: 0; 
    margin-top: 30px;
}
  
.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.load-more-button-container {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.pagination-load-more {
    display: block;
    background-color: #83B3D3;
    height: 60px;
    width: 620px;
    margin: 0 auto;
    padding: 0;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background-color: #83B3D3;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 8px;
}

.pagination-link:last-child {
    margin-right: 0;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.hotels-amount {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    height: 48px;
    width: 386px;
}

.hotels-amount-text {
    margin-right: 51px;
}

.hotels-amount-select {
    border: 2px solid #E6E6E6;
    width: 160px;
    padding-left: 17px;
}

.mailing-form {
    display: flex;
    justify-content: center;
    height: 60px;
}

.mailing-form .button {
    width: 200px;
    background-color: #83B3D3;  
    border-radius: 0px 10px 10px 0px;
}

.mailing-form .button:hover, .pagination-link:hover, .pagination-load-more:hover {
    background-color: #68A2CA;
}

.mailing-form .button:focus, .pagination-link:focus, .pagination-load-more:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}

.mailing-form .button:active, .pagination-link:active, .pagination-load-more:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.mailing-catalog {
    color: black;
    background-color:#ffffff;
}

.mailing-title {
    margin: 0 auto 29px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.mailing-text {
    margin: 0 auto 46px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.mailing-input{
    box-sizing: border-box;
    border: 0;
    width: 600px;
    padding-left: 22px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

.mailing-input:hover {
    background-color: #E6E6E6;
}

.mailing-input:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.mailing-input:invalid {
    background-color: #FFFFFF;
    outline: 2px solid #FF5757;
}

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px); 
    list-style-type: none;
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    row-gap: 10px;
    column-gap: 18px;
}

.hotels-found {
    width: 1057px;
    margin: 0 auto;
}

.hotels-found-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    width: 338px;
    margin: 0;
    margin-right: 192px;
}

.select-control {
    width: 287px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    margin-right: 81px;
    padding: 12px 27px 13px 19px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    appearance: none; 
}

.select-control:hover, .select-control:focus, .hotels-amount-select:hover, .hotels-amount-select:focus {
    outline: 2px solid #83B3D3;
}
.select-control:active, .hotels-amount-select:active {
    opacity: 0.3;
}

.view-cards {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    flex-grow: 1;
}

.view-card {
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 48px;
    height: 48px;
}

.view-card:nth-child(1) {
    background-image: url(../images/mode-tile.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.view-card:nth-child(2) {
    background-image: url(../images/mode-slideshow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.view-card:nth-child(3) {
    background-image: url(../images/mode-list.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.view-card:hover {
    outline: 2px solid #83B3D3;
}

.view-card:focus {
    outline: 2px solid #83B3D3;
}

.view-card-checked {
    border-color: #000000;
}

.hotel-card {
    display: flex;
    flex-direction: column;
}

.hotel-card-content {
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 300px;
}

.hotel-card-title-link {
    text-decoration: none;
    color: #000000;
    margin-top: 16px;
}

.hotel-card-image {
    object-fit: cover;
}

.hotel-card-image-link {
    height: 206px;
}

.hotel-card-image-link:hover {
    opacity: 0.6;
}

.hotel-card-image-link:focus {
    outline: 3px solid #83B3D3;
}

.hotel-card-image-link:active {
    opacity: 0.3;
}

.hotel-card-title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
}

.hotel-type-price {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hotel-card-type {
    width: 133px;
}

.hotel-card-type, .hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.hotel-card-price {
    width: 143px;
}

.hotel-card-buttons {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    height: 37px;
    justify-content: space-between;
    align-items: center;
}

.hotel-card-button {
    width: 133px;
    padding: 9px 0 10px;
    box-sizing: border-box;
}

.favorite-hotel-button {
    width: 141px;
    padding: 9px 0 10px;
}

.favorite-hotel-button:hover {
    background-color: #68A2CA;
    outline: 1px solid #756257;
}

.favorite-hotel-button:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}

.favorite-hotel-button:active {
    background: #68A2CA;
    outline: 1px solid #756257;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-numbers {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    width: 160px;
    height: 37px;
    background: #F2F2F2;
    border-radius: 4px;
    padding: 9px 0 10px;
    box-sizing: border-box;
    text-align: center;
}

.favorite-hotel-button {
    background-color: #83B3D3;
}

.selected-favorite-hotel-button {
    background-color: #7DB54F;
}

.selected-favorite-hotel-button:hover {
    background-color: #6C9E42;
}

.selected-favorite-hotel-button:focus {
    background-color: #6C9E42;
    outline: 3px solid #756257;
}

.selected-favorite-hotel-button:active {
    background-color: #6C9E42;
    color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 120px;
}

.footer-social {
    margin: 40px 49px 40px 61px;
    width: 132px;
}

.footer-logo {
    margin-top: 22px;
    margin-bottom: 31px;
    margin-left: auto;
    margin-right: 49px;
}

.footer-logo-link {
    display: block;
    width: 115px;
    height: 33px;
    padding: 18px 23px;
}

.footer-logo-link .footer-logo-icon:hover {
    fill:#756257;
}

.footer-logo-link:focus {
    fill:#756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.footer-logo-link .footer-logo-icon:active {
    fill:rgba(117, 98, 87, 0.3);
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-social-link {
    display: block;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
}

.footer-social-tw {
    width: 18px;
    height: 15px;
    padding: 13px 11px;
    margin-right: 3px;
}

.footer-social-fb {
    width: 10px;
    height: 18px;
    padding: 11px 15px;
    margin-right: 5px;
}

.footer-social-yt {
    width: 20px;
    height: 16px;
    padding: 12px 10px;
}

.footer-phone-number {
    width: 720px;
    height: 50px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin: 40px 0;
    margin-right: 53px;
    text-align: center;
}

.footer-phone-number-link {
    color: #000000;
    text-decoration: none;
    padding: 15px;
}

.footer-phone-number-link:hover {
    color: #756257;
}

.footer-phone-number-link:focus {
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    color: #756257;
    border-radius: 10px;
}

.footer-phone-number-link:active {
    color: #756257;
    opacity: 0.3;
}

.footer-social-link:hover .social-icon {
    fill: #68A2CA;
}
  
.footer-social-link:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.footer-social-link:focus .social-icon {
    fill: #68A2CA;
}

.footer-social-link:active .social-icon {
    fill: rgba(104, 162, 202, 0.3);
}